# OS
.DS_Store

# IDE
.idea

# Configs
.age/
.env
.env.*
**/.env
**/.env.*
!**/.env.example
!infra/envs/.env.prod.age

# Packages
node_modules

# Artifacts
build
dist
.vite
package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.volumes
e2e/results
e2e/report
playwright-report

# Logs
*.log
.vs/

infra/configs/vapid.json
