PROJECT=app
ENV=dev # or "prod"
DOMAIN=app.localhost
DEV_EMAIL=dev@example.com
DENO_LOG=debug
COMPOSE_BAKE=true

DB_CPU_LIMIT=2
DB_MEM_LIMIT=2048m
DB_HOST=db
DB_PORT=5432
DB_NAME=app
DB_USER=app
DB_PASS=app

PROXY_CPU_LIMIT=1
PROXY_MEM_LIMIT=512m
PROXY_LOG_LEVEL=debug
PROXY_CF_API_KEY=

KV_CPU_LIMIT=1
KV_MEM_LIMIT=512m
KV_MEM_INNER_LIMIT=400mb
KV_HOSTNAME=kv
KV_PORT=6379
KV_HOST_PORT=6380

MINIO_CPU_LIMIT=1
MINIO_MEM_LIMIT=512m
MINIO_USER=admin
MINIO_PASS=change-me

LOKI_CPU_LIMIT=1
LOKI_MEM_LIMIT=1024m

PROMTAIL_CPU_LIMIT=1
PROMTAIL_MEM_LIMIT=512m

PROMETHEUS_CPU_LIMIT=1
PROMETHEUS_MEM_LIMIT=1024m

POSTGRES_EXPORTER_CPU_LIMIT=1
POSTGRES_EXPORTER_MEM_LIMIT=512m

GRAFANA_PASS=change-me
GRAFANA_CPU_LIMIT=1
GRAFANA_MEM_LIMIT=512m

NODEEXPORTER_CPU_LIMIT=1
NODEEXPORTER_MEM_LIMIT=512m

CADVISOR_CPU_LIMIT=1
CADVISOR_MEM_LIMIT=512m

DENO_VERSION=2.9.0
API_CPU_LIMIT=1
API_MEM_LIMIT=512M
API_PORT=8000
AUTH_COOKIE_SECRET=REPLACE_WITH_RANDOM_STRING
AUTH_PEPPER=REPLACE_WITH_RANDOM_STRING
AUTH_TOTP=REPLACE_WITH_RANDOM_STRING
TIMEZONE=Asia/Singapore
RATE_LIMITER_WINDOW_MS=60000
RATE_LIMITER_STRICT_LIMIT=30
RATE_LIMITER_LIMIT=100

SPA_CPU_LIMIT=1
SPA_MEM_LIMIT=512M
SPA_PORT=5173
SPA_API_PREFIX=
DENO_DEPLOYMENT_ID=AUTOMATICALLY_REPLACED_WITH_GIT_SHA_FOR_EACH_DEPLOYMENT

S3_BUCKET_BACKUPS_NAME=app-backups
S3_BUCKET_BACKUPS_DB_FOLDER=db
S3_BUCKET_BACKUPS_ACCESS_KEY_ID=
S3_BUCKET_BACKUPS_SECRET_ACCESS_KEY=
S3_BUCKET_BACKUPS_REGION=ap-southeast-1
S3_BUCKET_BACKUPS_ENDPOINT=https://s3.ap-southeast-1.amazonaws.com
S3_BACKUP_BACKUPS_DASHBOARD_URL=https://s3.console.aws.amazon.com/s3/buckets/${S3_BUCKET_BACKUPS_NAME}/${S3_BUCKET_BACKUPS_DB_FOLDER}/?region=${S3_BUCKET_BACKUPS_REGION}

SLACK_SYSTEM_URL=
